* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue1: #1a3399;
  --orange1: #eaa33d;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/* HERO SECTION */

.hero {
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-nav {
  display: flex;
  gap: 150px;
}

.hero-content {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-logo {
  width: 350px;
}

.hero-icon {
  width: 42px;
  transition: 0.15s;
}

.hero-icon:hover {
  transform: scale(1.5) perspective(1px);
}

/* PORTFOLIO SECTION */

.portfolio-header {
  padding: 150px;
}

.port-icon,
.about-icon {
  display: block;
  margin: auto;
  width: 50px;
  margin-bottom: 100px;
}

.port-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 172px;
  color: var(--blue1);
  text-align: center;
  text-transform: uppercase;
}

.port-reflect {
  margin-top: -87px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 172px;
  color: var(--blue1);
  text-align: center;
  text-transform: uppercase;
  opacity: 0.25;

  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* PROJECTS SECTION */

.proj-itm {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 200px 150px 200px 150px;
}

.proj-itm:last-of-type {
  margin-bottom: 0;
}

.proj-left > img,
.proj-right > img {
  width: 600px;
}

.proj-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 92px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 36px;
  color: var(--blue1);
}

.proj-desc {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-bottom: 36px;
}

.proj-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  background-color: var(--orange1);
  color: white;
  padding: 24px 32px;
  border: none;
  border-radius: 8px;
  transition: 0.15s;
  cursor: pointer;
}

.proj-btn:hover {
  background-color: #bb8131;
}

/* ABOUT SECTION */

.about-section {
  padding: 200px;
  text-align: center;
}

.about-icon {
  margin-bottom: 50px;
}

.about-header {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  color: var(--blue1);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.about-p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: justify;
  text-align-last: center;
  width: 50%;
  margin: 0 auto 50px auto;
}

.about-btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}
