* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue1: #1a3399;
  --blue2: #10225b;
  --orange1: #eaa33d;
  --dark1: #2d2d2d;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/* HERO SECTION */

.hero {
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-nav {
  display: flex;
  gap: 150px;
}

.hero-content {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-logo {
  width: 350px;
}

.hero-icon {
  width: 42px;
  transition: 0.15s;
}

.hero-icon:hover {
  transform: scale(1.5) perspective(1px);
}

/* PORTFOLIO SECTION */

.portfolio-header {
  padding: 150px;
}

.port-icon,
.about-icon {
  display: block;
  margin: auto;
  width: 50px;
  margin-bottom: 100px;
}

.port-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 172px;
  color: var(--blue1);
  text-align: center;
  text-transform: uppercase;
}

.port-reflect {
  margin-top: -87px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 172px;
  color: var(--blue1);
  text-align: center;
  text-transform: uppercase;
  opacity: 0.25;

  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* PROJECTS SECTION */

.proj-itm {
  display: flex;
  width: 1200px;
  gap: 50px;
  align-items: center;
  margin: 200px auto 200px auto;
}

.proj-itm:last-of-type {
  margin-bottom: 0;
}

.proj-left > img,
.proj-right > img {
  width: 500px;
}

.proj-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 36px;
  color: var(--blue1);
}

.proj-desc {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-bottom: 36px;
}

.proj-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  background-color: var(--orange1);
  color: white;
  padding: 24px 32px;
  border: none;
  border-radius: 8px;
  transition: 0.15s;
  cursor: pointer;
}

.proj-btn:hover {
  background-color: #bb8131;
}

/* ABOUT SECTION */

.about-section {
  padding: 200px;
  text-align: center;
}

.about-icon {
  margin-bottom: 50px;
}

.about-header {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  color: var(--blue1);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.about-p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: justify;
  text-align-last: center;
  width: 50%;
  margin: 0 auto 50px auto;
}

.about-btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* CONTACT SECTION */

.contact-section {
  position: relative;
}

.contact-content {
  display: flex;
  gap: 64px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contact-headline {
  color: white;
  width: 30rem;
}

.contact-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contact-p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25rem;
}

.contact-form > form > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

.form-name {
  font-family: "Source Sans Pro", sans-serif;
  width: 50%;
  padding: 16px;
  border: none;
  border-radius: 4px;
}

.form-inp,
#form-message {
  font-family: "Source Sans Pro", sans-serif;
  padding: 16px;
  border: none;
  border-radius: 4px;
}

#form-message {
  resize: none;
}

#form-submit {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--orange1);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  transition: 0.15s;
}

#form-submit:hover {
  background-color: #bb8131;
}

.contact-bg {
  overflow: hidden;
  position: relative;
}

.contact-bg-overlay {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background-color: var(--blue2);
  opacity: 0.8;
}

#contact-vid {
  width: 100vw;
}

/* FOOTER SECTION */

footer {
  background: var(--dark1);
  padding: 64px;
}

.footer-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}

.footer-logo {
  display: flex;
  align-self: flex-start;
  gap: 24px;
}

.footer-home > ul,
.footer-proj > ul,
.footer-socials > ul {
  margin-top: 24px;
  list-style-type: none;
}

li {
  margin-bottom: 12px;
}

li > a {
  color: white;
  text-decoration: none;
}

.footer-cta {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-h3 {
  font-size: 24px;
  line-height: 1.1;
}

.footer-btn {
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: var(--blue1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

.footer-btn:hover {
  background-color: var(--blue2);
}
